DJANGO_LOG_LEVEL='INFO'
DEBUG='FALSE'

DJANGO_SECRET_KEY='random-secret-key'

DATABASE_HOST='localhost'
DATABASE_PORT='5432'
DATABASE_USER='postgres'
DATABASE_PASSWORD='postgres'
DATABASE_NAME='postgres'