{% extends 'markets/base.html' %}
{% block title %}
  Rates per maturity
{% endblock title %}
{% block interface %}
  <div class="d-flex justify-content-end">
    <div class="d-flex flex-column me-2 align-content-center text-secondary">
      <div class="col mt-1"><span>Date format</span></div>
      <div class="col"><span>DD/MM/YY</span></div>
    </div>
    <div class="form-floating ms-1">
      <input type="text"
             class="form-control flex-shrink-1 "
             placeholder="placeholder"
             id="inputSince">
      <label for="inputSince">Start period</label>
    </div>
    <div class="form-floating ms-1">
      <input type="text"
             class="form-control flex-shrink-1"
             placeholder="placeholder"
             id="inputTo">
      <label for="inputTo">End period</label>
    </div>
    <div class="form-floating ms-1">
      <input type="text"
             class="form-control flex-shrink-1"
             placeholder="placeholder"
             id="inputLimit">
      <label for="inputLimit">Max points</label>
    </div>
    <button class="btn btn-primary ms-3" id="update">Update</button>
  </div>
{% endblock interface %}
{% block main %}
  <h1 class="text-center mt-2">US Government Bonds - Yields Curve - Per Maturity</h1>
  <div class="d-flex justify-content-center">
    <div style="position: relative; width:85vw">
      <canvas id="chart"></canvas>
    </div>
  </div>
{% endblock main %}
{% block script %}
  {{ rates|json_script:'rates' }}
  <script>
    const rates = JSON.parse(document.getElementById('rates').text.replaceAll('NaN','null'))
    
    const autocolors = window['chartjs-plugin-autocolors']
    const root = document.getElementById('chart')
    const cfg = {
      type: 'line',
      data: rates,
      plugins: [{
        id: 'myEventCatcher',
        beforeEvent(chart, args, pluginOptions) {
          const event = args.event;
          if (event.type === 'mouseout') {
          console.log('test')

            // process the event
          }
        }
      }],
      options: {
        events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],
        scales: {
          y: {
            beginAtZero: true,
            ticks:{
              font:{
                size: 16,
              }  
            }
          },
          x: {
            ticks:{
              font:{
                size: 16,
              }
            }
          }
        },
        plugins: {
          autocolors: {
            offset: 10
          },
          legend:{
            labels:{
              font:{
                size: 16,
                weight: "bold",
              }
            },
            events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],
            onHover: function(event, legendItem) {
              console.log(event, legendItem)
              const ci = this.chart;
              const index = legendItem.datasetIndex
              var elements = ci.getDatasetMeta(index)
              elements.dataset.options.borderWidth = 3
              ci.render();
            },
          }
        },
      }
    }

    Chart.register(autocolors)
    var chart = new Chart(root, cfg)

    window.addEventListener("load", (event) => {
      const since = document.getElementById('inputSince'),
      to = document.getElementById('inputTo'),
      limit = document.getElementById('inputLimit'),
      btn = document.getElementById('update'),
      params = new URLSearchParams(window.location.search)  

      var inputs = [since, to, limit]

      if (params.has('since')){since.value = params.get('since')}
      if (params.has('to')){to.value = params.get('to')}
      if (params.has('limit')){limit.value = params.get('limit')}
      
      since.value = since.value || '01/01/07'

      btn.addEventListener("click", (event) => {
        window.location.search = `?since=${since.value}&to=${to.value}&limit=${limit.value}`
      })

      inputs.forEach((input) => {
        input.addEventListener("keyup", (event) => {
          event.preventDefault()
          if (event.keyCode === 13) {
            btn.click()
          }
        })
      })
    })
  </script>
{% endblock script %}
