{% extends 'markets/base.html' %}
{% block title %}
  Rates per day
{% endblock title %}
{% block main %}
  <h1 class="text-center mt-2">US Treasury Par Yield Curve Rates per Day</h1>
  <div class="d-flex justify-content-center">
    <div style="position: relative; width:85vw">
      <canvas id="chart"></canvas>
    </div>
  </div>
{% endblock main %}
{% block script %}
  {{ rates|json_script:'rates' }}
  <script>
    const rates = JSON.parse(document.getElementById('rates').text.replaceAll('NaN','null'))

    
    const chart = document.getElementById('chart')
    const cfg = {
      type: 'line',
      data: rates,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    }

    new Chart(chart, cfg)
  </script>
{% endblock script %}
